body {
    background-color: #ecf0f1;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

.container {
    max-width: 600px;
    margin: 60px auto;
    padding: 20px;
    background-color: #7b95ae;
    border-radius: 8px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);
}

.city {
    background-color: #ffffff;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;

}

.date {
    font-size: 18px;
    color: #7f8c8d;
    


}

.time {
    font-size: 24px;
    font-weight: bold;
    color: #2c3e50;
}
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #bdc3c7;
    border-radius: 4px;
    font-size: 16px;
}

h1 {
    color: #2c3e50;
    text-align: center;
    font-size: 36px;
    margin-top: 20px;
}

h2 {
    color: #34495e;
    font-size: 24px;
    margin: 0;
}
footer {
    text-align: center;
    margin-top: 50px;
    font-size: 14px;
    color: #7f8c8d;
}

a {
    color: #2980b9;
    text-decoration: none;
}

.all-cities {
    text-decoration: none;
    color: #2c3e50;
}
.all-cities:hover {
    text-decoration: underline;
}